/* body {
    overflow-x: hidden;
} */

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.nav-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  column-gap: 3rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.nav-bar-two {
  display: none;
}

.btn-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.sign-in {
  background-color: transparent;
  border: none;
}

.get-started {
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 40px;
  background-color: blue;
  width: 100px;
}

.logo {
  width: 120px;
}

.containers {
  display: flex;
  margin: 0 auto;
  width: 70%;
  align-items: start;
  padding-top: 70px;
  margin-bottom: 30px;
}

.left-container {
  width: 50%;
  padding-top: 80px;
}

.right-container {
  width: 50%;
}

.crypto-card {
  height: 650px;
  width: 600px;
}

.left-container .image-container {
  display: flex;
  align-items: center;
}

.bitcoin-logo {
  height: 30px;
  margin-right: 9px;
}

.portfolio {
  font-size: 30px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  column-gap: 20px;
  /* align-items: center; */
}

.email-box {
  height: 60px;
  width: 250px;
  font-size: 17px;
  border: 1px solid;
  border-radius: 5px;
  border-color: grey;
}

.email-box-side {
  height: 70px;
  width: 200px;
  background-color: blue;
  color: #fff;
  border-radius: 5px;
  border: solid 1px;
  font-size: 17px;
}

.table-box {
  margin: 50px auto;
}

.table-row {
  display: table;
  width: 80%;
  margin: 10px auto;
  font-family: sans-serif;
  background: transparent;
  padding: 12px 0;
  color: #555;
  font-size: 13px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}

.table-cell {
  display: table-cell;
  width: 30%;
  text-align: center;
  padding: 4px 0;
}

.container-worth {
  margin: 0 auto;
  display: flex;
  width: 80%;
  margin-top: 40px;
}

.container-worths h3 {
  font-size: 40px;
  line-height: 50px;
  width: 70%;
}

.container-worth {
  font-size: 20px;
  line-height: 30px;
}

.earn-button {
  color: white;
}

.earn-button {
  background-color: blue;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  font-size: 15px;
}

.image-list {
  list-style: none;
  margin-bottom: 40px;
  width: 50%;
}

.section-four {
  text-align: center;
  font-size: 23px;
  margin-top: 70px;
}

.section-four-image {
  display: flex;
  margin: 0 auto;
  width: 80%;
  align-items: start;
  padding-top: 70px;
  column-gap: 100px;
}

.section-four-image-logo {
  width: 100%;
}

.platform {
  text-align: center;
  margin-top: 150px;
}

.platform h1 {
  font-size: 45px;
}

.platform p {
  font-size: 20px;
}

.bitcoin-storage {
  margin: 0 auto;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  justify-content: flex-start;
}

.storage {
  display: flex;
  column-gap: 7rem;
  margin: 0 auto;
  width: 80%;
  /* background-color: yellow; */
}
@media screen and (max-width: 600px) {
  .storage {
    display: flex;
    flex-direction: column;
    background-color: yellow;
  }
}

.coinbase {
  line-height: 30px;
  margin-top: 50px;
  width: 85%;
  font-size: 25px;
  color: blue;
}

.users {
  background-color: blue;
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
  column-gap: 70px;
  font-size: 30px;
  margin: 0 auto;
  margin-top: 30px;
}

.userz h1 {
  font-size: 50px;
  color: #fff;
  justify-content: space-between;
}

.userz p {
  font-size: 15px;
  color: #fff;
}

.digital-currency {
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.digital-currency h1 {
  font-size: 50px;
}

.digital-currency p {
  font-size: 20px;
  font-weight: 5px;
  margin-bottom: 70px;
}

.accounts {
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
  column-gap: 100px;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.accounts p {
  font-weight: 10px;
}

.section-five-img {
  width: 50px;
}

.section-eight-one {
  display: flex;
  column-gap: 150px;
  background-color: rgb(245, 248, 255);
  justify-content: space-between;
}

.crypto-worthies {
  margin-top: 80px;
  width: 70%;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
}

.usdc {
  margin: 0 auto;
  width: 90%;
  color: #555;
}

.table-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
}
.bitcoin-storage {
  /* background-color: green; */
}

.bitcoin-storage p {
  /* width: 100%; */
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  /* background-color: red; */
}

.bitcoin-storage h3 {
  text-align: center;
}

.bitcoin-storage-image {
  width: 50px;
  margin: 0 auto;
}

.cypto-worthies-button {
  /* background-color: blue; */
  color: #fff;
  border: solid 1px;
  border-radius: 5px;
  width: 40%;
  height: 13%;
  font-size: 15px;
}

.digital-currency p {
  color: grey;
}

.dollar-image {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.dollar-image-signs {
  width: 140px;
  height: 70px;
}

.image-list-sub {
  display: flex;
  column-gap: 70px;
  text-align: center;
  justify-content: space-between;
}

.start-worthy {
  color: #fff;
  border: 1px solid;
  width: 130px;
  height: 50px;
  border-radius: 5px;
  font-size: 13px;
}

.different-signs {
  width: 60px;
  height: 50px;
}

.view-more {
  color: blue;
}

.section-four p {
  color: gray;
  font-size: 20px;
}

.table-bitcoin {
  width: 20px;
}

table {
  width: 80%;
  border-bottom: none;
  border-collapse: collapse;
}

td {
  text-align: center;
}

table {
  border: 1px solid gray;
  margin: 0 auto;
}

th,
td {
  padding: 20px;
  text-align: left;
  color: #555;
}

.button-buy {
  background-color: green;
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 40px;
  color: #fff;
}

tr {
  border: 1px solid black;
}

.section-four-imagine {
  width: 100%;
  border-bottom: 1px solid grey;
}

.crypto-worthies-container {
  display: flex;
  justify-content: flex-end;
}

.image-graph {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.container-worthy {
  width: 50%;
}

.start-worthy {
  background-color: blue;
  font-size: 18px;
}

th {
  color: #555;
}

/* MEDIA QUERY */

@media  (max-width: 600px) {
  .crypto-card {
    display: none;
    background-color: red;
  }
  .right-container {
    background-color: green;
    display: flex;
  }
  .image-container h3 {
    color: blue;
  }
  .container {
    width: 100%;
  }
  .left-container {
    width: 100%;
  }
  .portfolio h1 {
    width: 100%;
    font-size: 40px;
  }
  .coinbase p {
    font-size: 20px;
    width: 400px;
  }
  .container-worths h3 {
    align-items: center;
    width: 100%;
  }
  .buttons {
    flex-direction: column;
    width: 100%;
  }
  .email-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .email-box-side {
    width: 102%;
  }
  body {
    margin: 0 auto;
  }
  .container-worthy {
    width: 90%;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .image-list {
    display: none;
  }
  .container-worthy p {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  /* FOOTER */
  .footer {
    flex-direction: column;
  }
  .table-footer {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-four {
    width: 85%;
    margin: 0 auto;
    font-size: 22px;
  }
  .dollar-image {
    flex-direction: column;
  }
  .section-four-image {
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
  .section-four-image-logo {
    width: 350px;
    justify-content: center;
  }
  .dollar-image-signs {
    align-items: center;
    margin: 0 auto;
    width: 70px;
  }
  .users {
    flex-direction: column;
  }
  .accounts {
    flex-direction: column;
  }
  .crypto-worthies {
    margin-bottom: 200px;
  }
  .spaceship {
    display: none;
  }
  .section-eight-one {
    background-color: darkblue;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cypto-worthies-button {
    border: none;
    width: 120px;
    height: 50px;
  }
  .storage {
    flex-direction: column;
    background-color: yellow;
    display: none;
    /* margin: 0 auto; */
  }
  .crypto-worthies {
    text-align: center;
  }
  .coinbase {
    color: blue;
  }
  .bitcoin-storage {
    margin: 0 auto;
    align-items: center;
  }
  .crypto-worthies-container {
    align-items: center;
  }
  .menu-bar {
    display: none;
  }
  .sign-in {
    display: none;
  }
  .table-charts {
    display: none;
  }
  .containers {
    width: 90%;
  }
  .table-container {
    width: 100%;
  }
  .english {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .crypto-card {
    display: none;
    background-color: red;
  }
  .right-container {
    background-color: green;
    display: flex;
  }
  .image-container h3 {
    color: blue;
  }
  .container {
    width: 100%;
  }
  .left-container {
    width: 100%;
  }
  .portfolio h1 {
    width: 100%;
    font-size: 40px;
  }
  .coinbase p {
    font-size: 20px;
    width: 400px;
  }
  .container-worths h3 {
    align-items: center;
    width: 100%;
  }
  .buttons {
    flex-direction: column;
    width: 100%;
  }
  .email-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .email-box-side {
    width: 102%;
  }
  body {
    margin: 0 auto;
  }
  .container-worthy {
    width: 90%;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .image-list {
    display: none;
  }
  .container-worthy p {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  /* FOOTER */
  .footer {
    flex-direction: column;
  }
  .table-footer {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-four {
    width: 85%;
    margin: 0 auto;
    font-size: 22px;
  }
  .dollar-image {
    flex-direction: column;
  }
  .section-four-image {
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
  .section-four-image-logo {
    width: 350px;
    justify-content: center;
  }
  .dollar-image-signs {
    align-items: center;
    margin: 0 auto;
    width: 70px;
  }
  .users {
    flex-direction: column;
  }
  .accounts {
    flex-direction: column;
  }
  .crypto-worthies {
    margin-bottom: 200px;
  }
  .spaceship {
    display: none;
  }
  .section-eight-one {
    background-color: darkblue;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cypto-worthies-button {
    border: none;
    width: 120px;
    height: 50px;
  }
  .storage {
    flex-direction: column;
    /* margin: 0 auto; */
  }
  .crypto-worthies {
    text-align: center;
  }
  .coinbase {
    color: blue;
  }
  .bitcoin-storage {
    margin: 0 auto;
    align-items: center;
  }
  .crypto-worthies-container {
    align-items: center;
  }
  .menu-bar {
    display: none;
  }
  .sign-in {
    display: none;
  }
  .table-charts {
    display: none;
  }
  .containers {
    width: 90%;
  }
  .table-container {
    width: 100%;
  }
  .english {
    width: 50%;
  }
}
